h2 {
  font-size: 24px;
  text-align: center;
  color: #1C252E;
  font-family: 'Oswald', sans-serif;
}

body {
  background-color: #99CCFF;
  font-family: 'Oswald', sans-serif;
}

#users-box {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: #1C252E
}

#users-api-data p {
  color: #1C252E;
}

#users-api-data ul {
  list-style-type: none;
}
